.my-info {
	.head-image {
		width: 100%;
	}
	.content {
		padding: 0 30upx;
	}
	.welcome {
		margin-top: -136rpx;
		display: flex;
		flex-direction: column;
		font-size: 32upx;
		color: #432a21;
		background-color: #fff;
		.welcome-text-bottom {
			font-size: 26upx;
		}
	}
	.member-card {
		padding: 20upx;
		display: flex;
		flex-direction: column;
		border-radius: 6upx;
		margin-bottom: 40upx;
		background-color: #fff;
		.info {
			display: flex;
			align-items: center;
			padding: 20upx 0;
			margin-top: -50rpx;
			position: relative;
			border-bottom: 1upx solid rgb(#c8c7cc, 0.3);
			.title {
				flex: 1;
				font-size: 40upx;
				color: #343434;
				display: flex;
				align-items: center;
			}
			.title-big {
				font-weight: bold;
			}
			.tips {
				margin-left: 10upx;
				font-size: 24upx;
				color: #999;
				background-color: #e9e9e9;
				padding: 10upx 30upx;
				border-radius: 50rem;
				display: flex;
				align-items: center;
				image {
					width: 20upx;
					height: 20upx;
				}
			}
			.avatar {
				width: 150upx;
				height: 150upx;
				border-radius: 100%;
			}
			.lv {
				border: 2upx solid #343434;
				padding: 2upx 20upx;
				border-radius: 12upx;
				font-size: 26upx;
				position: absolute;
				bottom: 20upx;
				left: 0;
			}
		}
		.card {
			margin-top: 20upx;
			width: 100%;
			display: flex;
			align-items: center;
			.grid {
				flex: 1;
				flex-shrink: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				image {
					width: 100upx;
					height: 100upx;
				}
				.value {
					margin-bottom: 10upx;
					font-size: 32upx;
				}
				.title {
					font-size: 24upx;
					color: #666;
				}
			}
		}
	}
	.broadcast {
		width: 100%;
		
		.broad-title {
			margin: 10upx 0;
			font-size: 32upx;
			font-weight: 500;
		}
		.swiper {
			height: 200upx;
			margin-bottom: 10upx;
			background-color: #fff;
		}
		.swiper-item {
			.swiper-wrapper {
				display: flex;
				padding: 40upx 60upx;
				border-radius: 6upx;
			}
			image {
				width: 100upx;
				height: 100upx;
				border-radius: 100%;
				margin-right: 20upx;
			}
			.desc {
				display: flex;
				flex-direction: column;
			}
			.title {
				font-size: 28upx;
				font-weight: 500;
				margin-bottom: 10upx;
			}
			.subtitle {
				font-size: 24upx;
				color: #666;
			}
		}
	}
	.task {
		margin: 40upx 0;
		padding: 10upx 0;
		display: flex;
		align-items: center;
		border-radius: 12upx;
		background-color: #fff;
		.task-text {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.title {
				font-size: 32upx;
				color: #343434;
			}
			.en-text {
				font-size: 24upx;
				font-weight: bold;
			}
		}
		.image-wrapper {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			image {
				width: 200upx;
				height: 200upx;
			}
		}
	}
	.open-gift {
		padding: 30upx 40upx;
		margin-bottom: 20upx;
		background-color: #fff;
		.gift-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20upx;
			.title {
				font-size: 32upx;
				font-weight: 500;
			}
			.subtitle {
				font-size: 26upx;
				color: #666;
			}
		}
		.gift-box {
			display: flex;
			flex-wrap: wrap;
			.grid {
				width: 27%;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 20upx;
				image {
					width: 70upx;
					height: 70upx;
					margin-bottom: 20upx;
				}
				.title-box {
					font-size: 26upx;
					color: #343434;
					display: flex;
					align-items: baseline;
				}
				.number {
					margin-left: 5upx;
					color: #f0ad4e;
					font-weight: bold;
				}
			}
		}
	}
}
